@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #393E46;
  --color-button-white: #FFFFFF;
  --color-button-orange: #FF9D23;
  --color-title: #443627;
  --color-text: #393E46;
  --color-background: #FFFFFF;
}

body {
  @apply bg-background text-text font-sans;
}
