# Dependencies
**/node_modules/
**/venv/
**/.venv/

# Environment
**/.env
**/.env.*
!**/.env.example

# Python
**/__pycache__/
**/*.py[cod]
**/*.so

# Database
**/db-data/
**/prisma/migrations/
**/generated/prisma
**/*.sqlite
**/*.db

# Build outputs
**/.next/
**/build/
**/dist/

# Firebase
**/serviceAccountKey.json

# typescript
**/*.tsbuildinfo
**/next-env.d.ts

# IDE
.vscode/
**/.vscode/

# OS generated
.DS_Store
**/.DS_Store
*.pem
Thumbs.db

# Testing
coverage/
.coverage
htmlcov/